<h1>Listando Galerias</h1>
<br />
<table>
  <tr>
  <th>Nome</th>
  </tr>
  <%- @image_galleries.each do |image_gallery|%>
    <tr>
	  <td><%=h image_gallery.name %></td>
      <td><%= link_to "Imagens(#{image_gallery.images.size})", admin_image_gallery_images_path(image_gallery) %></td>
	  <td><%= link_to 'Editar', edit_object_url(image_gallery) %></td>
      <td><%= link_to 'Deletar', object_url(image_gallery), :confirm => 'Você tem certeza?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<br/>

<%= link_to 'Adicionar Galeria', new_object_url %> | <%= link_to "Reordenar", reorder_admin_image_galleries_path %>