<%= image_tag "igor_e_ana.jpg", :alt => "Igor e Ana Rachel" %>
<div id="messages">
	<h2>ÚLTIMAS MENSAGENS<%= link_to "VER TODAS", posts_path, :class => "button" %></h2>
	<ul>
	<% @posts.each do |post| %>
		<li <%= "class=#{cycle "first", ""}" %>>
			<strong><%= post.name %> disse:</strong>
			<%= simple_format(post.body.summary(100)) %>
		</li>
	<% end %>
	</ul>
	<h2><%= @page.name %></h2>
	<%= simple_format(@page.body) %>
</div>
<div id="directions">
	<%= link_to image_tag("gift_list.png", :alt => "Lista de Presentes"), page_path("lista-de-presentes") %>
	<h2>QUANDO E ONDE?</h2>
	<h3>27 <small>de Junho de</small> 2009 <small>às</small> 18:00hs</h3>
	<%= image_tag "rosa_rosarum.jpg", :alt => "Rosa Rosarum", :class => "wrap" %>
	<h4>Espaço Rosa Rosarum</h4>
	<h5>Salão Jade</h5>
	<address>Rua Francisco Leitão, 416<br/>Pinheiros, São Paulo/SP</address>
	<p>Clique <%= link_to "aqui", page_path("como-chegar") %> para saber como chegar ou <%= link_to "aqui", page_path("onde-ficar") %> para ver onde se hospedar.</p>
</div>