<h1>Listing Images for <%= parent_object.name %></h1>
<br />
<table>
  <tr>
    <th>Image</th>
  </tr>
  <% @images.each do |image| %>
    <tr>
      <td><%= image_tag image.image.url(:thumb) %></td>
      <td><%= link_to "Edit", edit_object_url(image) %></td>
      <td><%= link_to "Destroy", object_url(image), :method => :delete %></td>
    </tr>
  <% end %>
</table>
<br />
<%= link_to "New Image", new_object_url %> | <%= link_to "Reorder", reorder_admin_product_images_path(parent_object) %> | <%= link_to "Back", admin_products_path %>