<h1>Listando Usuários <%= 'Administradores' if params[:role]=='admin' %></h1>
<br/>
<table>
  <tr>
    <th>Login</th>
    <th>Nome</th>
    <th>Email</th>
  </tr>
  <%- @users.each do |user|%>
    <tr>
      <td><%=h user.login %></td>
      <td><%=h user.name %></td>
      <td><%=h user.email %></td>
    
      <td><%=link_to 'Editar', edit_object_url(user) %></td>
      <td><%=link_to 'Deletar', object_url(user), :confirm => 'Você tem certeza?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<br/>

<%= link_to 'Adicionar Usuário', new_object_url %>
